<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.julse.jules.kmsafe">
    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--写入内存卡权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--全文动画缩放动画权限-->
    <uses-permission android:name="android.permission.SET_ANIMATION_SCALE"/>
    <!--读手机卡的权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--读手机联系人的权限-->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!--接收手机重启广播的权限-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!--发送短信的权限-->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!--接收短信的权限-->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!--获取准确GPS坐标权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--网络定位时获取粗略坐标的权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!--文件挂载权限-->
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>-->
    <!--存储在本地文件中-->
   <!-- <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="activity.HomeActivity"/>
        <activity android:name="activity.SettingActivity"/>
        <activity android:name="activity.TestActivity"/>
        <activity android:name="activity.SetupOverActivity"/>
        <activity android:name="activity.Setup1Activity"/>
        <activity android:name="activity.Setup2Activity"/>
        <activity android:name="activity.Setup3Activity"/>
        <activity android:name="activity.Setup4Activity"/>
        <activity android:name="activity.ContactListActivity"/>
        <activity android:name="activity.DeviceAdminActivity"/>
        <activity android:name="activity.BlackNumberActivity"/>
        <receiver android:name="receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="receiver.SimReceiver">
            <intent-filter>
                <!--为了去关联系统短信的广播对应的过滤条件，先将编译版本改为4.1.2,
                 高版本为了安全，取消了自动关联-->
            <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <!--设备管理器测试广播-->
        <!--android.app.admin 这个是自动提示的-->
        <!--android.permission.BIND_DEVICE_ADMIN-->
        <!--android:permission="android.permission.BIND_DEVICE_ADMIN" 非自动提示-->
        <receiver android:name="receiver.DeviceAdmin"
            android:label="@string/sample_device_admin"
            android:description="@string/sample_device_admin_description"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample"/>
        </receiver>
        <service android:name="service.LocationService"/>
    </application>

</manifest>